/*
    Manages Overlays
    ----------------------------------------------
*/

.page, .sidebar {
  position: relative;
}
.page {
  z-index: 2;
}
.sidebar {
  z-index: 1;

  // Ensures that sidebar menus appear above the rest of the app on hover
  &:hover {z-index: 2;}
  &:hover + .page {z-index: 1;}
}

$overlay-z: 100;

// Make Overlay Technology full screen
.overlay-technology {
  position: absolute;
  top: 0;
  left: -($sidebar-width) !important;
  bottom: 0;
  right: 0;
  z-index: $overlay-z;
  padding: 0 30px;

  /*
    Semi-transparent gradient in background
    Makes it possible to leave opacity alone
  */
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include gradient-diag-down($c-pool,$c-comet);
    opacity: 0.7;
    z-index: -1;
  }
}