/*
  Calendar Selector
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules/influx-colors.scss';
@import 'src/style/modules/variables.scss';
@import 'src/style/modules/mixins.scss';

$rd-arrow-button: 30px;
$rd-cell-size: 30px;
$rd-tiny-gap: 2px;
$rd-background-color: $g4-onyx;

$rd-mask-z: 2;
$rd-now-z: $rd-mask-z + 1;

.calendar-selector {
  display: flex;
  align-items: stretch;
  border-radius: $radius;
  @extend %drop-shadow;
}

.calendar-selector--wrap,
.calendar-selector--moving-dates {
  display: flex;
  flex-direction: column;
}

.calendar-selector--container {
  padding: $ix-marg-c $ix-marg-b;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: $radius;
  background: $rd-background-color;

  .calendar-selector--shortcuts + & {
    border-radius: 0 $radius $radius 0;
  }
}

.calendar-selector--dates {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.calendar-selector--month {
  position: relative;
  margin: 0 $ix-marg-b;
}

input.form-control.calendar-selector--input {
  text-align: center;
  margin: 0 $rd-tiny-gap;
  margin-bottom: $ix-marg-b;
  width: calc(100% - #{$rd-tiny-gap * 2});
}

.calendar-selector--mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: $rd-background-color;
  z-index: $rd-mask-z;
}

.calendar-selector--now {
  position: absolute;
  z-index: $rd-now-z;
  right: 6px;
  top: 4px;
}

.calendar-selector--shortcuts {
  @include no-user-select();
  align-items: stretch;
  background-color: $g5-pepper;
  border-radius: $radius 0 0 $radius;
  font-size: $form-sm-font;
}

.calendar-selector--shortcuts-header {
  white-space: nowrap;
  padding: $ix-marg-c $ix-marg-b;
  color: $g15-platinum;
  line-height: $form-sm-height;
  font-weight: 700;
}

.calendar-selector--shortcut {
  white-space: nowrap;
  padding: 6px $ix-marg-b;
  transition:
    color 0.25s ease,
    background-color 0.25s ease;
  color: $g11-sidewalk;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background-color: $g7-graphite;
    color: $g17-whisper;
  }
}

.calendar-selector--apply {
  margin-top: $ix-marg-c;
  width: 210px;
}

/*
  Styles for Rome.js calendar widget
  ------------------------------------------------------------------------------
*/

.rd-date {
  display: flex;
}
.rd-month {
  display: flex;
  flex-wrap: wrap;
}
.rd-back {
  order: 1;
}
.rd-month-label {
  order: 2;
}
.rd-next {
  order: 3;
}

.rd-back,
.rd-next,
.rd-month-label {
  height: $rd-arrow-button;
  line-height: $rd-arrow-button;
}

.rd-back,
.rd-next {
  position: relative;
  outline: none;
  width: $rd-arrow-button;
  border: 0;
  background-color: $g5-pepper;
  border-radius: $radius;
  color: $g15-platinum;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:after {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  } 

  &:hover {
    cursor: pointer;
    background-color: $g6-smoke;
    color: $g20-white;
  }
}

.rd-back {
  margin-left: $rd-tiny-gap;
}
.rd-back:after {
  content: "\e901";
}

.rd-next {
  margin-right: $rd-tiny-gap;
}
.rd-next:after {
  content: "\e903";
}

.rd-month-label {
  @include no-user-select();
  font-weight: 600;
  color: $g15-platinum;
  text-align: center;
  width: calc(100% - #{($rd-arrow-button + $rd-tiny-gap) * 2});
}

.rd-days {
  order: 4;
  font-size: $form-sm-font;
  margin-top: $ix-marg-a;
  background-color: transparent;
  border-radius: $radius-small;

  /* Cancel out default table styles */
  tr:hover {
    background-color: transparent !important;
    color: inherit !important;
  }

  thead.rd-days-head th.rd-day-head,
  tbody.rd-days-body td.rd-day-body {
    padding: 0 !important;
    min-height: $rd-cell-size !important;
    height: $rd-cell-size !important;
    max-height: $rd-cell-size !important;
    min-width: $rd-cell-size !important;
    width: $rd-cell-size !important;
    max-width: $rd-cell-size !important;
    vertical-align: middle;
    text-align: center;
    border: 0 !important;
  }
  thead.rd-days-head th.rd-day-head {
    @include no-user-select();
    color: $g15-platinum !important;
    background-color: $rd-background-color !important;
  }
  tbody.rd-days-body td.rd-day-body {
    @include no-user-select();
    letter-spacing: -1px;
    font-family: $code-font;
    transition: background-color 0.25s ease, color 0.25s ease;
    color: $g13-mist !important;
    background-color: $g3-castle;
    border-radius: $radius;

    &:hover {
      cursor: pointer;
      color: $g20-white !important;
      background-color: $g6-smoke;
    }
    &.rd-day-next-month,
    &.rd-day-prev-month {
      cursor: default;
      visibility: hidden;
    }
    &.rd-day-selected {
      background-color: $c-pool !important;
      color: $g20-white !important;
    }
    &.rd-day-disabled {
      color: $g8-storm !important;
      background-color: $g5-pepper !important;
      cursor: default;
    }
  }
}

.rd-time {
  margin: 0 $rd-tiny-gap;
  margin-top: $ix-marg-b + $rd-tiny-gap;
  width: calc(100% - #{$rd-tiny-gap * 2});
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rd-time-selected {
  @include no-user-select();
  height: 28px;
  line-height: 28px;
  background-color: $g3-castle;
  border-radius: $radius-small;
  width: 100%;
  letter-spacing: -1px;
  font-family: $code-font;
  color: $g13-mist;
  display: inline-block;
  transition: color 0.25s ease, background-color 0.25s ease;
  text-align: center;

  &:hover {
    color: $g20-white;
    background-color: $g6-smoke;
    cursor: pointer;
  }
}
.rd-time-list {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 200px;
  transform: translate(-50%, -50%);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  @include custom-scrollbar-round($c-pool, $c-laser);
  @include gradient-h($c-ocean, $c-pool);
  border-radius: $radius;
  @extend %drop-shadow;
}

.rd-time-option {
  width: 100%;
  height: 24px;
  line-height: 24px;
  padding-left: $scrollbar-width;
  text-align: center;
  @include no-user-select();
  font-family: $code-font;
  color: $c-yeti;
  letter-spacing: -1px;

  &:hover,
  &:active,
  &:focus {
    color: $g20-white;
    cursor: pointer;
    outline: none;
    @include gradient-h($c-laser, $c-pool);
  }
}


