# Directories
ui/reports/
build/
backup/
vendor/
.vscode/
.idea/
node_modules/

# Binaries
/chronograf
/chronoctl

# Dotfiles
.pull-request
.DS_Store
.godep
.jsdep
.jssrc
.dev-jssrc
.bindata
.eslintcache

# Files
chronograf*.db
*_gen.go
canned/apps_gen.go
npm-debug.log
yarn-error.log
ui/.vs/slnx.sqlite
out.log
ui/cypress/kube-config
ui/cypress/.local-chronograf-influxdb-enterprise.sh.swp
