$graph-panel--heading-height: 44px;
$graph-panel--tab-height: 25px;
$graph-panel--graph-height: (300px + 22px);
$graph-panel--tab-offset: 8px;
$graph-panel--bg: $g3-castle;

$panels-slider--width: calc(100% - #{($explorer-page-padding * 2)});
$panels-slider--offset: 100px;
$panels-slider--arrows: 24px;
$panels-slider--increment: $graph-panel--graph-height + $graph-panel--heading-height + ($explorer-page-padding / 2) + 4px;

$dygraphs-legend-offset: 32px;
$max-number-of-graphs: 66;

.panels-slider {
  z-index: 2;
  position: absolute;
  top: $panels-slider--offset;
  left: $explorer-page-padding;
  width: $panels-slider--width;
  transform: translate(0,0);
  backface-visibility: hidden;
  transition:
    transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
}

// Rules for positioning .panels-slider based on data-scroll-pos
@for $i from 1 through $max-number-of-graphs {
  $panelIncrement: $panels-slider--increment * ($i - 1) * -1;
  .panels[data-scroll-pos="#{$i}"] .panels-slider {
    transform: translate(0, #{$panelIncrement});
  }
}

// Styles for highlighting active graph
@for $l from 1 through $max-number-of-graphs {
  .panels[data-graph-in-focus="#{$l}"] .graph-panel:nth-child(#{$l}) {
    border-color: $c-pool;
    box-shadow:
      0 0 ($explorer-page-padding * 0.6) 2px fade-out($c-ocean, 0.5),
      0 0 ($explorer-page-padding * 0.85) 2px fade-out($c-void, 0.5);
    .graph-panel--title {
      color: $g20-white;
    }
  }
}
.panels-arrows {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: $panels-slider--arrows;
  transform: translateY(-50%);
  left: 0;
  top: ($panels-slider--offset + ($panels-slider--increment / 2));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panels-arrow {
  width: $panels-slider--arrows;
  height: $panels-slider--arrows;
  border-width: ($panels-slider--arrows / 2);
  border-style: solid;

  &:first-child {
    border-color: transparent transparent transparent $g5-pepper;
  }
  &:last-child {
    border-color: transparent $g5-pepper transparent transparent;
  }
}

.graph-panel {
  z-index: 10;
  position: relative;
  background-color: $graph-panel--bg;
  border: 2px solid $graph-panel--bg;
  border-radius: 5px;
  height: ($graph-panel--heading-height + $graph-panel--graph-height + 4px);
  margin: 0 0 ($explorer-page-padding / 2) 0;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  backface-visibility: hidden;
  transform: translate(0,0);

  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer;
    background-color: $g4-onyx;
    border-color: $g5-pepper;
    z-index: 20;
  }

  &.active {
    .graph-panel--title {
      color: $g20-white;
    }
  }
}
.graph-panel--heading {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $graph-panel--heading-height;
  padding: 0 16px;

  &-left,
  &-right {
    display: flex;
    align-items: center;
  }
  &-left {
    flex-direction: flex-start;
  }
  &-right {
    flex-direction: flex-end;
  }
}
.graph-panel--title {
  font-size: 16px;
  color: $g12-forge;
  font-weight: 600;
  margin: 0 16px 0 0;
  transition:
    color 0.25s ease;

  .icon {
    font-size: 12px;
    margin-right: 8px;
    position: relative;
    top: -1px;
  }
}
.graph-panel--tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: $g2-kevlar;
  padding: 2px;
  border-radius: 4px;
}
.graph-panel--tab {
  background-color: $g2-kevlar;
  color: $g10-wolf;
  height: $graph-panel--tab-height;
  line-height: $graph-panel--tab-height;
  padding: 0 14px 1px 14px;
  border-radius: 3px;
  font-weight: 500;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;

  &:first-child {
    margin-right: 2px;
  }
  &:hover {
    cursor: pointer;
    color: $g13-mist;
    background-color: $g3-castle;
  }
  &.active {
    background-color: $g5-pepper;
    color: $g20-white;
  }
}
.graph-panel--graph-container {
  background-color: transparent;
  border-radius: 0 0 4px 4px;
  padding: 11px 16px;
  position: relative;
  height: $graph-panel--graph-height;
}
.graph-panel--graph-fetching,
.graph-panel--graph-empty {
  width: 100%;
  height: 300px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  > * {
    margin: 0;
  }
}
.graph-panel--spinner {
  width: 121px;
  height: 121px;
  background-image: url(assets/images/laser-spinner.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: graph-panel-spinner 1s infinite linear;

  &--small {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
  }
}

@keyframes graph-panel-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.multi-table--tabs {
  display: flex;
}
.multi-table--tab {
  white-space: nowrap;
  color: $g10-wolf;
  background: $g5-pepper;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  padding: 0 10px;
  transition:
    color 0.25s ease,
    background-color 0.25s ease;

  &:hover {
    color: $g20-white;
    background-color: $g6-smoke;
  }
  &.active {
    font-weight: 700;
    background-color: $g6-smoke;
    color: $g14-chromium;
  }
}

// Dygraph styles. Needs a home.
.dygraph-axis-label {
  color: $g11-sidewalk;
  font-weight: 500;
}
.graph-vertical-marker {
  top: 0;
  height: 100%;
  bottom: 0;
  width: 2px;
  background-color: fade-out($g20-white, 0.68);
  position: absolute;
  pointer-events: none;
  display: none;
  background: fade-out($g20-white, 0.68);
  background: -moz-linear-gradient(top,  transparent 0%, fade-out($g20-white, 0.68) 5%, fade-out($g20-white, 0.68) 88%, transparent 100%);
  background: -webkit-linear-gradient(top,  transparent 0%,fade-out($g20-white, 0.68) 5%,fade-out($g20-white, 0.68) 88%,transparent 100%);
  background: linear-gradient(to bottom,  transparent 0%,fade-out($g20-white, 0.68) 5%,fade-out($g20-white, 0.68) 88%,transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='transparent',GradientType=0 );

}
.container--dygraph-legend {
  background-color: $g1-raven;
  display: block;
  position: absolute;
  padding: 11px;
  z-index: 500;
  font-size: 13px;
  color: $g12-forge;
  border-radius: 3px;
  font-weight: 600;
  line-height: 13px;

  &.hidden {
    display: none;
  }

  /*
   * Only animate position that's controlled during rendering.
   * See http://stackoverflow.com/a/17117992
   */
  transition: all 0.25s ease;
  transition-property: top, right, bottom, left;

  /* Row */
  /* Styles for Key go here, get overrided by > b */
  > span {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    opacity: 0.5;
    padding-top: 4px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600 !important;
    color: $g19-ghost;
    margin: 0;

    /* Border on top of first row */
    &:first-child {
      border-top: 2px solid $g4-onyx;
      padding-top: 6px;
      margin-top: 6px;
    }

    /* Legend Key */
    > b {
      font-weight: 600 !important;
    }
  }

  .highlight {
    font-weight: 600;
    opacity: 1;

    > b {
     font-weight: 600;
    }
  }
}
