@import 'src/style/modules/influx-colors';

.card-select--wrapper {
  background-color: $g3-castle;
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 20px;
}

.card-select--cards {
  display: inline-flex;
  flex-wrap: wrap;
}