/*
  Card Selector Wrapper
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules/modules';

.card-select--wrapper {
  border: none;
  box-sizing: border-box;
}

.card-select--cards {
  display: inline-block;
  width: 100%;
}