/*
  Card Selector Card
  ------------------------------------------------------------------------------
*/

$card-select--gutter: 4px;

$card-breakpoint-col-2: 600px;
$card-breakpoint-col-3: 700px;
$card-breakpoint-col-4: 800px;
$card-breakpoint-col-5: 900px;
$card-breakpoint-col-6: 1000px;

.card-select--card-holder {
    width: 100%;
    padding-bottom: 100%;
    float: left;
    position: relative;

    @media only screen and (min-width: $card-breakpoint-col-2) {
        width: 50%;
        padding-bottom: 50%;
    }

    @media only screen and (min-width: $card-breakpoint-col-3) {
        width: 33.3333%;
        padding-bottom: 33.3333%;
    }

    @media only screen and (min-width: $card-breakpoint-col-4) {
        width: 25%;
        padding-bottom: 25%;
    }

    @media only screen and (min-width: $card-breakpoint-col-5) {
        width: 20%;
        padding-bottom: 20%;
    }

    @media only screen and (min-width: $card-breakpoint-col-6) {
        width: 16.6667%;
        padding-bottom: 16.6667%;
    }
}

.card-select--card {
    background-color: $g1-raven;
    border-radius: $radius;
    border: $ix-border solid transparent;
    width: calc(100% - #{$card-select--gutter});
    height: calc(100% - #{$card-select--gutter});
    margin: $card-select--gutter / 2;
    position: absolute;
    transition: border-color .2s ease, background-color .2s ease;
    box-sizing: border-box;
}

.card-select--container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}

.card-select--image {
    justify-content: center;
    width: 60%;
    .card-select--placeholder {
        color: $ix-text-default;
        transition: color .2s ease;
    }
    img {
        filter: grayscale(0.80);
        width: 100%;
        height: 100%;
        transition: filter .2s ease;
        font-size: $ix-text-base;
    }
}

.card-select--active:hover,
.card-select--active.card-select--checked {
    background-color: $g5-pepper;
    .card-select--image {
        img {
            filter: grayscale(0);
        }
    }
    .card-select--placeholder {
        color: $c-pool;
    }
}

.card-select--active.card-select--checked {
    border-color: $c-rainforest;
}

.card-select--disabled {
    opacity: .3;
    .card-select--container {
        cursor: not-allowed;
    }
}

.card-select--label {
  text-align: center;
  min-width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  font-family: $ix-text-font;
  color: $ix-text-default;
  font-size: $ix-text-base;
  font-weight: 600;
}

.card-select--checkmark {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 22px;
    width: 22px;
    color: $c-rainforest;
    opacity: 0;
    transition: opacity .2s ease;
}

.card-select--checkmark.card-select--checked {
    opacity: 1;
}
