.annotation-editor .overlay-heading {
  justify-content: space-between;
}

.annotation-editor .row {
  margin-bottom: 5px;
}

.annotation-editor--controls {
  display: flex;

  button:first-child {
    margin-right: 5px;
  }
}

.annotation-editor-body--delete {
  width: 65px;
  margin: 25px auto 0 auto;
}

.annotation-editor-body label {
  display: flex;
  justify-content: space-between;

  .error {
    color: $c-curacao;
  }
}

.annotation-tag-editor {
  margin-top: 2px;
}

.annotation-tag-editor .annotation-tag-editor--add {
  width: 100%;
  margin-top: 10px;
}

.annotation-tag-editor .tag-control {
  margin-bottom: 8px;
}

.tag-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag-control--equals {
  flex: 0 0 auto;
  padding: 3px 5px 0 5px;
  height: $form-sm-height;
  margin: 0 5px;
  font-family: $code-font;
  font-weight: 500;
  color: $g14-chromium;
  letter-spacing: -1px;
  border-radius: 3px;
  user-select: none;
}

.tag-control--key {
  flex: 1 1 40%;
}

.tag-control--value {
  flex: 1 1 60%;
}

.tag-control button {
  margin-left: 5px;
}
