/*
    Table Type Graphs in Dashboards
    ----------------------------------------------------------------------------
*/

$table-graph--border: $g5-pepper;

.table-graph-container {
  position: absolute;
  width: calc(100% - 32px);
  height: calc(100% - 16px);
  top: 8px;
  left: 16px;
  border: 2px solid $table-graph--border;
  border-radius: 3px;
  overflow: hidden;
}

.table-graph-cell {
  padding: 8px 6px;
  line-height: 13px;
  font-size: 13px;
  font-weight: 500;
  color: $g11-sidewalk;
  border: 1px solid $table-graph--border;
  overflow: hidden;

  &__wrap {
    white-space: normal;
    word-break: break-all;
  }
  &__truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__numerical {
    font-family: $code-font;
  }
  &__fixed-row,
  &__fixed-column {
    font-weight: 700;
    color: $g14-chromium;
    background-color: $g4-onyx;
  }
  &__fixed-row {
    border-top: 0;
  }
  &__fixed-column {
    border-left: 0;
  }
  &__fixed-corner {
    border-top: 0;
    border-left: 0;
    font-weight: 700;
    color: $g18-cloud;
    background-color: $table-graph--border;
  }
  &__last-row {
    border-bottom: 0;
  }
  &__last-column {
    border-right: 0;
  }
  &__highlight {
    background-color: $g6-smoke;
    color: $g16-pearl;
  }
  &__highlight:not(.table-graph-cell__fixed-row):not(.table-graph-cell__fixed-column):not(.table-graph-cell__fixed-corner) {
    color: $g14-chromium;
    background-color: $g6-smoke;
  }
  // Hover Highlight
  &:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 5;
    border: 2px solid $c-pool;
    border-radius: 3px;
    visibility: hidden;
    box-sizing: border-box;
  }
  &:hover:not(.table-graph-cell__fixed-row):not(.table-graph-cell__fixed-column):not(.table-graph-cell__fixed-corner) {
    color: $g20-white;
    background-color: $g0-obsidian;
    &:after {visibility: visible;}
  }
}

.ReactVirtualized__Grid {
  &:focus {
    outline: none;
  }
  &::-webkit-scrollbar,
  &::-webkit-resizer {
    display: none;
  }
}

.table-graph-container > div > div:nth-child(2) > .ReactVirtualized__Grid:nth-child(2) {
  &::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;

    &-button {
      background-color: $table-graph--border;
    }
    &-track {
      background-color: $table-graph--border;
    }
    &-track-piece {
      background-color: $table-graph--border;
    }
    &-thumb {
      border-radius: 5px;
      border: 2px solid $table-graph--border;
      background-color: $g11-sidewalk;
    }
    &-corner {
      background-color: $table-graph--border;
    }
  }
  &::-webkit-resizer {
    display: block;
    background-color: $table-graph--border;
  }
}
