$font-path: 'assets/fonts/';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('#{$font-path}Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-path}Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}Roboto-Black.ttf');
}
@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-path}RobotoMono-Medium.ttf');
}

$default-font: 'Roboto', Helvetica, sans-serif;
$code-font: 'RobotoMono', monospace;
