/*
  Wizard Button Bar Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules/modules';

.wizard-button-bar {
  display: flex;
  margin: $ix-marg-b auto $ix-marg-c auto;
  position: relative;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  .btn {
    position: relative;
    white-space: nowrap;
    margin: 0 $ix-marg-a;
  }
}