@import 'src/style/modules/influx-colors';
@import 'src/style/modules/variables';

.step-title {
  text-align: center;
  font-size: $ix-text-base-2;
}

.wizard-cloak {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.skip-link {
  color: $g7-graphite;
  text-decoration: underline;
  text-align: center;
}

.tip-text {
  min-width: 100%;
  color: $g12-forge;
  text-align: center;
}