/*
  Wizard Checkbox Component
  ------------------------------------------------------------------------------
*/

.wizard-checkbox--group {
  margin-top: $ix-marg-c;
  .wizard-checkbox--label {
    margin-left: $ix-marg-b;
    font-weight: 500;
    font-size: 14px;
    color: $g11-sidewalk;
    transition: color 0.25s ease;
  
    &:hover {
      color: $g18-cloud;
      cursor: pointer;
    }
  }
}