/*
  Full Screen Wizard Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules/modules';

.wizard-container {
  padding: 30px;
  display: flex;
  border-radius: $radius;
  max-height: 60vh;
  min-width: 800px;
  background-color: $g1-raven;
}

.wizard-title {
  margin-top: $ix-marg-c;
}