/*
  Dropdown Button
  ------------------------------------------------------------------------------
*/

/* Button */
.dropdown--button {
  position: relative;
}

.dropdown--selected,
.dropdown--button > span.icon.dropdown--icon,
.dropdown--button > span.icon.dropdown--caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

span.icon.dropdown--icon {
  top: 49%;
}

.dropdown--selected {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 20px);
}

.dropdown--button > span.icon.dropdown--caret {
  margin: 0;
  font-size: 1em;
}

/* Button Size Modifiers */
@mixin buttonSizing($padding, $font) {
  .dropdown--icon,
  .dropdown--selected {
    left: $padding;
  }
  .dropdown--selected {
    width: calc(100% - #{($padding * 2) + $font});
  }
  .dropdown--icon + .dropdown--selected {
    left: $padding + ($font * 1.5);
    width: calc(100% - #{($padding * 2) + ($font * 2.5)});
  }
  .dropdown--caret {
    right: $padding;
  }
}

.dropdown--button.btn-xs {
  @include buttonSizing($form-xs-padding, $form-xs-font);
}

.dropdown--button.btn-sm {
  @include buttonSizing($form-sm-padding, $form-sm-font);
}

.dropdown--button.btn-md {
  @include buttonSizing($form-md-padding, $form-md-font);
}

.dropdown--button.btn-lg {
  @include buttonSizing($form-lg-padding, $form-lg-font);
}
