/*
  Dropdowns
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules/influx-colors';
@import 'src/style/modules/variables';
@import 'src/style/modules/mixins';


/* Button */
.btn.dropdown--button {
  width: 100%;
  position: relative;
}

.dropdown--selected,
span.icon.dropdown--icon,
span.icon.dropdown--caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

span.icon.dropdown--icon {
  top: 49%;
}

.dropdown--selected {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 20px);
}

span.icon.dropdown--caret {
  margin: 0;
}

/* Button Size Modifiers */
@mixin buttonSizing($padding, $font) {
  .dropdown--icon,
  .dropdown--selected {
    left: $padding;
  }
  .dropdown--selected {
    width: calc(100% - #{($padding * 2) + $font});
  }
  .dropdown--icon + .dropdown--selected {
    left: $padding + ($font * 1.5);
    width: calc(100% - #{($padding * 2) + ($font * 2.5)});
  }
  .dropdown--caret {
    right: $padding;
  }
}

.dropdown--button.btn-xs {
  @include buttonSizing($form-xs-padding, $form-xs-font);
}

.dropdown--button.btn-sm {
  @include buttonSizing($form-sm-padding, $form-sm-font);
}

.dropdown--button.btn-md {
  @include buttonSizing($form-md-padding, $form-md-font);
}

.dropdown--button.btn-lg {
  @include buttonSizing($form-lg-padding, $form-lg-font);
}


/* Dropdown Menu */
.dropdown--menu-container {
  overflow: hidden;
  position: fixed;
  z-index: 500;
  background-color: #0f0;
  border-radius: $radius;
  box-shadow: 0 2px 5px 0.6px fade-out($g0-obsidian, 0.7);
}

.dropdown--menu {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: pointer;
}

.dropdown--item {
  padding: 6px 11px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: fade-out($g20-white, 0.18);
  white-space: nowrap;
  position: relative;

  &.active {
    padding-left: 24px;
    color: $g20-white;
  }

  &:hover {
    color: $g20-white;
    cursor: pointer;
  }

  .dropdown-wrap & {
    word-break: break-all;
    white-space: pre-wrap;
  } 
}

.dropdown-item--dot {
  display: none;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  background-color: #fff;

  .active & {
    display: inline-block;
  }
}

.dropdown--divider {
  padding: 6px 11px;
  font-size: 12px;
  font-weight: 600;

  &.line {
    padding: 0;
    height: 2px;
  }
}

.dropdown--item.multi-select--item {
  padding-left: 28px;
}

.dropdown-item--checkbox {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 3px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.5,1.5);
  }

  .active &:after {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1,1);
  }
}

.dropdown {
  .dropdown--menu-container {
    @include gradient-h($c-star, $c-pool);
  }
  .dropdown--item:hover,
  .dropdown--item.active {
    @include gradient-h($c-comet, $c-laser);
  }
  .dropdown--divider {
    color: $c-potassium;
    @include gradient-h($c-amethyst, $c-ocean);
  }
  .dropdown-item--checkbox {
    background-color: $c-amethyst;
  }
  .dropdown-item--checkbox:after {
    background-color: $c-yeti;
  }
  .fancy-scroll--thumb-h {
    @include gradient-h($c-neutrino, $c-laser);
  }
  .fancy-scroll--thumb-v {
    @include gradient-v($c-neutrino, $c-laser);
  }
  /* TODO: Make fancyscroll more customizable */
  .fancy-scroll--track-h {
    display: none;
  }
}
 