.perf-test-page {
  width: 100%;
  height: 100%;

  .react-grid-item {
    border-radius: 4px;
    overflow: hidden;
  }
}

.perf-test-page--header {
  height: 60px;
  background: $g3-castle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  .rhs .dropdown {
    margin-left: 10px;
  }
}

.perf-test-page--body {
  width: 100%;
  height: 100%;
  padding: 20px 20px 80px 20px;
  overflow: scroll;
}

.perf-cell {
  background: $g3-castle;
  width: 100%;
  height: 100%;
}

.perf-cell--header {
  height: 30px;
  background: $g4-onyx;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5px;

  .button {
    background: none;
    border: none;
  }
}

.perf-cell--body {
  height: calc(100% - 30px);
  width: 100%;
  position: relative;

  .perf-cell--vis-container, .perf-cell--settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.perf-cell--dygraph-container {
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 10px;

  .dygraph-child, .dygraph-child-container {
    width: 100% !important;
    height: 100% !important;
  }
}

.perf-cell--vis-container {
  padding: 20px;
}

.perf-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $g14-chromium;
  font-size: 18px;
  padding-bottom: 20px;
}

.perf-cell--settings {
  background: rgba(41, 41, 51, 0.97);  // $g3-castle
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.perf-cell--setting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  label {
    margin-right: 10px;
    width: 100px;
    text-align: right;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 2px;
  }
}
