/*
   Chronograf Styles
   -----------------------------------------------------------------------------
*/

// Modules
@import "modules/modules";

// Fonts
@import "fonts/fonts";
@import "fonts/icon-font";

// Theme
@import "theme/chronograf-theme";

// Vendor
@import "external/react-grid-layout";
@import "external/fixed-data-table-base";
@import "external/fixed-data-table-style";
@import "external/fixed-data-table";
@import "external/codemirror";

// Layout
@import "layout/page-subsections";
@import "layout/sidebar";

// Components
@import "components/annotations";
@import "components/crosshairs";
@import "components/ceo-display-options";
@import "components/confirm-button";
@import "components/confirm-or-cancel";
@import "components/code-mirror/theme";
@import "components/color-dropdown";
@import "components/custom-time-range";
@import "components/customize-fields";
@import "components/drag-and-drop";
@import "components/dygraphs";
@import "components/fancy-scrollbars";
@import "components/fancy-table";
@import "components/fill-query";
@import "components/flip-toggle";
@import "components/function-selector";
@import "components/graph-tips";
@import "components/graph";
@import "components/input-click-to-edit";
@import "components/input-tag-list";
@import "components/logs-viewer-options";
@import "components/newsfeed";
@import "components/opt-in";
@import "components/organizations-table";
@import "components/page-header-dropdown";
@import "components/page-header-editable";
@import "src/shared/components/PageSpinner";
@import "components/single-stat";
@import "components/static-legend";
@import "components/query-maker";
@import "components/react-tooltips";
@import "components/redacted-input";
@import "components/resizer";
@import "components/search-widget";
@import "components/info-indicators";
@import "components/source-selector";
@import "components/tables";
@import "components/table-graph";
@import "components/threesizer";
@import "components/threshold-controls";
@import "components/kapacitor-logs-table";
@import "components/dropdown-placeholder";
@import "components/histogram-chart";
@import "src/sources/components/ConnectionLink";
@import "src/sources/components/WelcomeStep";
@import "src/sources/components/KapacitorStep";
@import "src/shared/components/TimeMachine/CellNoteEditor";
@import "src/shared/components/MarkdownCell";
@import "src/sources/components/DashboardStep";
@import "src/shared/components/DygraphLegend";
@import "src/dashboards/components/GraphTypeSelector";
@import "../shared/components/dropdown_auto_refresh/AutoRefreshDropdown.scss";
@import "../dashboards/components/rename_dashboard/RenameDashboard.scss";
@import "../logs/components/logs_message/LogsMessage";
@import "../logs/components/expandable_message/ExpandableMessage";
@import "../dashboards/components/import_dashboard_mappings/ImportDashboardMappings.scss";
@import "src/flux/components/flux_functions_toolbar/FluxFunctionsToolbar";
@import "components/dashboard-empty";
@import "components/template-control-bar";
@import "components/edit-template-variable";
@import "components/write-data-form";
@import "components/annotation-control-bar";
@import "components/annotation-editor";
@import "src/shared/components/TimeMachine/RawFluxDataTable";
@import "src/shared/components/TimeMachine/FluxScriptWizard";
@import "src/shared/components/Spinner";

// Reusable UI Components
@import "../reusable_ui/components/panel/Panel.scss";
@import "../reusable_ui/components/overlays/Overlay.scss";
@import "../reusable_ui/components/card_select/CardSelectCard.scss";
@import "../reusable_ui/components/card_select/ProtoboardIcon.scss";
@import "../reusable_ui/components/grid_sizer/GridSizer.scss";
@import "../reusable_ui/components/wizard/WizardController.scss";
@import "../reusable_ui/components/wizard/WizardButtonBar.scss";
@import "../reusable_ui/components/wizard/WizardFullScreen.scss";
@import "../reusable_ui/components/wizard/WizardOverlay.scss";
@import "../reusable_ui/components/wizard/WizardCheckbox.scss";
@import "../reusable_ui/components/wizard/ProgressConnector.scss";
@import "../reusable_ui/components/wizard/WizardProgressBar.scss";
@import "../reusable_ui/components/wizard/WizardStep.scss";
@import "../reusable_ui/components/Button/Button.scss";
@import "../reusable_ui/components/radio_buttons/RadioButtons.scss";
@import "../reusable_ui/components/dropdowns/Dropdown.scss";
@import "../reusable_ui/components/slide_toggle/SlideToggle.scss";
@import "../reusable_ui/components/Button/Button.scss";
@import "../reusable_ui/components/dropdowns/DropdownButton.scss";
@import "../reusable_ui/components/inputs/Input.scss";
@import "../reusable_ui/components/form_layout/Form.scss";
@import "../reusable_ui/components/page_layout/Page.scss";
@import "../reusable_ui/components/spinners/loadingSpinner.scss";

// Pages
@import "pages/auth-page";
@import "pages/kapacitor";
@import "pages/dashboards";
@import "pages/admin";
@import "pages/users";
@import "pages/tickscript-editor";
@import "pages/time-machine";
@import "pages/manage-providers";
@import "pages/logs-viewer";

// TODO
@import "unsorted";
