.model-tabs {
    margin-left: -14px;
    margin-right: -14px;
}

.models-tabs .tab-group .btn.tab.active {
    background-color: #292933;
}
.model-tabs--content {
    margin-left: -14px;
    margin-right: -14px;
}

.model-panel .panel-body {
    background-color: transparent;
}
