/*
  Fill Query
  ------------------------------------------------------------------------------
  Small widget for supplying a fill() value in a query
*/

@import 'src/style/modules/influx-colors';
@import 'src/style/modules/variables';

.fill-query {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.fill-query--label {
  white-space: nowrap;
  margin: 0;
  color: $g12-forge;
  padding: 0 $ix-marg-a 0 $ix-marg-b;
  font-size: $form-sm-font;
  height: $form-sm-height;
  line-height: $form-sm-height;
}


input.form-control.fill-query--input {
  margin-left: $ix-marg-a;
  width: 70px;
  font-weight: 600;
  border-color: $g7-graphite;

  &:hover {border-color: $g8-storm;}
  &:focus {border-color: $c-pool;}
}
