/*
  Yield Node Styles
  ------------------------------------------------------------------------------
*/

$flux-builder-vis-height: 550px;
$flux-builder-table-selector-height: 104px;

.yield-node {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$flux-node-gap});
  height: $flux-builder-vis-height;
  margin-bottom: $flux-node-tooltip-gap / 2;
  margin-top: $flux-node-tooltip-gap / 2;
  margin-left: $flux-node-gap;

  // Hide Horizontal Line
  & > .func-node--connector:after {
    content: none;
  }
}

.yield-node--controls {
  background-color: $g3-castle;
  padding: $flux-node-padding;
  border-radius: $radius $radius 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yield-node--name {
  font-size: 12px;
  font-weight: 600;
  margin-right: 6px;
  @include no-user-select();
  color: $c-honeydew;
}

.yield-node--visualization {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

// List of returned tables
.yield-node--results {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  background-color: $g2-kevlar;
  overflow: hidden;
  height: $flux-builder-table-selector-height;
  border-left: 2px solid $g3-castle;
  border-right: 2px solid $g3-castle;
}

.yield-node--results-filter {
  position: absolute;
  top: 9px;
  left: 196px;
  width: 200px;
}

// Tabs
.yield-node--results-list {
  display: flex;
  flex-direction: column;
}

.yield-node--result {
  @include no-user-select();
  color: $g11-sidewalk;
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding: 0 $flux-node-padding;
  transition: color 0.25s ease, background-color 0.25s ease;
  white-space: nowrap;
  overflow-x: hidden;

  &:hover {
    background-color: $g4-onyx;
    color: $g15-platinum;
    cursor: pointer;
  }

  &.active {
    background-color: $g5-pepper;
    color: $g18-cloud;
  }

  > span {
    padding-right: 1px;
    padding-left: 1px;
  }

  > span.key {
    color: $g9-mountain;
  }

  > span.value {
    padding-right: 5px;
    color: $g11-sidewalk;
  }
}


// Table 
.yield-node--table {
  flex: 1 0 0;
  background-color: $g3-castle;
  overflow: hidden;
  border-radius: 0 0 $radius $radius;
  padding: 2px;
  padding-left: 1px;
}

// Line Graph
.yield-node--graph {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  background-color: $g3-castle;
  border-radius: 0 0 $radius $radius;
}
